<div class="section-divider" aria-hidden="true">
  <svg class="svg-divider svg-divider--shore" viewBox="0 0 1440 48" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
    <!-- Rocky shoreline profile: irregular horizontal path -->
    <path d="M0,26 L38,22 L52,18 L58,24 L74,20 L90,26 L108,22 L120,18 L130,24 L148,20 L162,26 L178,22 L192,16 L198,22 L218,18 L236,24 L252,20 L268,26 L284,22 L296,16 L308,22 L326,18 L342,24 L358,20 L374,26 L390,22 L404,16 L416,22 L434,18 L450,24 L466,20 L482,26 L498,22 L510,16 L522,22 L540,18 L558,24 L574,20 L590,26 L606,22 L618,16 L630,22 L650,18 L668,24 L684,20 L700,26 L716,22 L730,16 L742,22 L762,18 L780,24 L796,20 L812,26 L828,22 L840,16 L854,22 L874,18 L892,24 L908,20 L924,26 L940,22 L952,16 L966,22 L986,18 L1004,24 L1020,20 L1036,26 L1052,22 L1064,16 L1078,22 L1098,18 L1116,24 L1132,20 L1148,26 L1164,22 L1176,16 L1188,22 L1208,18 L1228,24 L1244,20 L1260,26 L1276,22 L1290,16 L1302,22 L1322,18 L1342,24 L1360,20 L1378,26 L1400,22 L1420,18 L1440,22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <!-- Rock crack marks -->
    <path d="M120,18 L118,30 M296,16 L294,30 M510,16 L508,30 M730,16 L728,32 M952,16 L950,30 M1176,16 L1174,30 M1402,18 L1400,32" stroke="currentColor" stroke-width="0.8" stroke-linecap="round"/>
  </svg>
</div>
